.register {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register__container {
    display: flex;
    flex-direction: column;
    background-color: #dcdcdc;
    padding: 1.875rem;
    width: 30%;
}

.register__textBox {
    padding: .625rem;
    font-size: 1.125rem;
    margin-bottom: 1rem;
}

.register__btn {
    padding: .625rem;
    font-size: 1.125rem;
    margin-bottom: 1rem;
    border: none;
    color: white;
    background-color: black;
}

.register__google {
    background-color: #4285f4;
}

.register div {
    margin-top: 7px;
}

.register__logo {
    height: 3rem;
}

.register__header {
    font-family: 'Space Grotesk';
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
    text-align: left;
}