.login {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__container {
    display: flex;
    flex-direction: column;
    background-color: #dcdcdc;
    padding: 1.875rem;
    width: 25%;
}

.login__logo {
    height: 3rem;
}

.login__header {
    font-family: 'Space Grotesk';
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.login__textBox {
    padding: .625rem;
    font-size: 1.125rem;
    margin-bottom: 1rem;
}

.login__forgot-password {
    text-align: right;
    margin-bottom: 1rem;
}

.login__btn {
    padding: .625rem;
    font-size: 1.125rem;
    margin-bottom: 1rem;
    border: none;
    color: white;
    background-color: black;
    cursor: pointer;
}

.login__google {
    background-color: #4285f4;
    cursor: pointer;
}

.login div {
    margin-top: 7px;
}